<form class="form update-form" method="POST" action="{% url 'adjust_cart' item.item_id %}">
  {% csrf_token %}
  <div class="form-group">
    <div class="input-group input-group-sm">
      <input class="form-control qty_input text-center" type="number" name="quantity" value="{{ item.quantity }}" min="1" max="99" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
    </div>
  </div>
</form>
<a class="update-item btn btn-outline-warning btn-sm text-uppercase">Update</a>
<a class="remove-item btn btn-dark btn-sm text-uppercase text-light" id="remove_{{ item.item_id }}">Remove</a>