{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>          
{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="row h-100 justify-content-center">
            <div class="col-12 my-auto text-light text-center">
                <h1 class="text-uppercase">Welcome to the Healthy Cakery</h1>
                <p>We offer a range of cakes, freshly baked with natural ingredients.</p>
                <div class="my-4 text-center">
                    <a href="{% url 'products' %}" class="btn btn-outline-warning btn-md text-uppercase py-2">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}